colorama==0.4.4
ConfigArgParse==1.5.3
PyYAML==6.0.1
uiautomator2==2.16.14
urllib3==1.26.18
emoji==1.6.1
langdetect==1.0.9
atomicwrites==1.4.0
spintax==1.0.4
requests==2.31.0
packaging~=20.9
PySocks==1.7.1
pydantic==2.6.4
moviepy==1.0.3
pycryptodomex==3.20.0
instagrapi==2.1.1
gramaddict==3.2.12
dropbox==11.36.2
psutil==5.8.0
telebot==0.0.5
selenium==4.0.0a1
edge-tts==6.1.10
pillow==10.3.0
bs4==0.0.2
inputimeout==1.0.4
picamera==1.13
